
body {

  background: url(../img/615.jpg)  no-repeat fixed; /* pour ajuster l'image car decalage pour taille de container */
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */         
  text-align: center;
}



/*---------------Barre de navigation---------------*/
.navbar {                                                   
    background: #F8E52A; 
}


/*---------------container---------------*/
.refCont {
	padding-top: 120px;
}


/*---------------hexagone---------------*/
.hexagon {
-webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
 background-color: #3D9AAA;
 width: 300px;
 height: 300px;
}

.