/* colors
 #dddfd4 #fae596 #3fb0ac #173e43 */

body {

  background: url(../img/6.jpg)  no-repeat fixed; /* pour ajuster l'image car decalage pour taille de container */
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */         
  text-align: center;
}

a {
  color: #9214BF;
}

/*---------------Barre de navigation---------------*/
.navbar{                                                   
    background-color: #677077;
    font-color: #f2b632;
}


/*---------------container---------------*/
.refCont {
	padding-top: 120px;
}



/*--------grille de hexagonos como las abejas---------- */

.containerBee {
  padding-top: 120px;
  padding-bottom: 90px;
}





#grid {
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 0; 

}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: "red";
}



#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*color importante */
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    /*background-image: url('lapin.jpeg');
     background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;*/

}

.color1{
 background: #677077;
}

.color2{
 background: #f2b632;
 opacity: 0.7;
}

.color3{
 background: #b5b5b7;
 opacity: 0.7;
}

.color4{
 background: #f2b632;
 opacity: 0.7;
}

.color5{
 background: #b5b5b7;
 opacity: 0.7;
}


.color6{
 background: #677077;
 opacity: 0.7;
}




#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
	  visibility: hidden;
}

#grid li * {
    visibility: visible;
}


#grid li:nth-child(3n+2) {
  margin: 0 1%;
}


#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}


/* Services */

.services {
  padding: 50px 0;
}



/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 30px;
}

.img-portfolio {
  margin: 0 auto;
}

.img-portfolio:hover {
  opacity: .8;
}


/* Footer */

footer {
  padding: 100px 0;
}
/*
#to-top {
  font-size: 1em;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  padding: 15px 20px;
}

*/


  .btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
  }
  .btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
  }
  .btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
  }